.content {
    position: absolute;
    margin: 7% auto;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
}

.eachImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: zoom-in;
}

.searchItem {
    display: block;
    margin-left: 3%;
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
 }

@media (max-width: 640px) {
    .galleryContainer {
        width: 100%;
        /* margin: 30px auto; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.8rem;
        padding: 0.8rem;
    }
    .searchItem {
        font-size: 16px;
     }
}